tika~=1.24
PyPDF2~=1.26.0
pdf2image~=1.15.1
google-auth-oauthlib~=0.4.4
oauth2client~=4.1.3
httplib2~=0.19.1
apiclient
pyzabbix~=0.8.2
pymongo
cx_oracle
ckanapi
apache-airflow
apache-airflow-providers-apache-spark
apache-airflow-providers-google
apache-airflow-providers-papermill
apache-airflow-providers-postgres
apache-airflow-providers-oracle
jupyterlab